<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:shortcode -->
[sb_ld_header]
<!-- /wp:shortcode -->

<!-- wp:group {"tagName":"main","align":"full","className":"sb-course-card","backgroundColor":"surface-1","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained","contentSize":"1000px"}} -->
<main class="wp-block-group alignfull sb-course-card has-surface-1-background-color has-background" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:post-content {"layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
